
@font-face {
  font-family:"PT Sans" ;
  font-style: normal;
  font: weight 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
  }

@font-face {
    font-family:"PT Sans" ;
    font-style: normal;
    font: weight 700;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
    }

@font-face {
    font-family:"PT Sans" ;
    font-style: italic;
    font: weight 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
    }

 @font-face {
      font-family:"PT Sans" ;
      font-style: italic;
      font: weight 700;
      src: url("../fonts/pt-sans-regular.woff2") format("woff2");
      font-display: swap;
      }


body {
  font-family: "Pt Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  }
